*.pid
*.xml
*.csr
*.crt
*.key
*www
*home-assistant.log
*home-assistant_v2.db
*.db-journal
*lib
*deps
*tts
*secrets.yaml
*known_devices.yaml
*.conf
*plex.conf
*phue.conf
*!/.gitignore
*!/.travis.yml
*html5_push_registrations.conf
*ip_bans.yaml
*.AppleDouble
