*.json
*.private
*.pid
*.xml
*.csr
*.crt
*.key
*www
*home-assistant.log
*home-assistant_v2.db
*.db-journal
*lib
*deps
*tts
*secrets.yaml
*known_devices.yaml
*.conf
*plex.conf
*phue.conf
*!/.gitignore
*!/.travis.yml
*html5_push_registrations.conf
*ip_bans.yaml
*.AppleDouble

shed/dasher/config/config.json
maxx/dasher/config/config.json
*.dev
*.example
hq/.bash_history

hq/.bash_logout

hq/.bashrc

hq/.profile

hq/.ssh/authorized_keys

hq/dasher/config/config.json
