
Save New Duplicate & Edit Just Text Twitter
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
version: "3"
services:
  portainer:
    image: portainer/portainer:arm
    container_name: "portainer"
    network_mode: "bridge"
    restart: "always"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/dockers/portainer/data:/data"
    ports:
      - 9000:9000

  hass:
    image: homeassistant/raspberrypi3-homeassistant:0.51.2
    container_name: "hass"
    network_mode: "host"
    restart: always
    volumes:
      - "/dockers/hass/configuration:/config"
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - 8123:8123
    devices:
      - "/dev/ttyACM0:/zwaveusbstick:rwm"

  happd:
    build:
      context: ./appdaemon
    image: schmic/rpi-appdaemon:latest
    container_name: "happd"
    network_mode: "bridge"
    restart: "always"
    volumes:
      - "/dockers/appdaemon/config:/conf"
    ports:
      - 5050:5050
    entrypoint:
      - appdaemon
    command: -c /conf

  samba:
    image: dastrasmue/rpi-samba:v3
    container_name: "samba"
    network_mode: "host"
    restart: "always"
    command: -u "schmic:XXXXXXXXXX" -s "Home:/home/pirate:rw:schmic" -s "Data:/data:rw:schmic" -s "Dockers:/dockers:rw:schmic"
    volumes:
      - "/data:/data"
      - "/dockers:/dockers"
      - "/home/pirate:/home/pirate"
    ports:
      - 137:137/udp
      - 138:138/udp
      - 139:139
      - 445:445
      - 445:445/udp

  raneto:
    build:
      context: ./raneto
    image: schmic/rpi-raneto
    container_name: "raneto"
    network_mode: "bridge"
    restart: "always"
    volumes:
      - /dockers/raneto/content/:/data/content/
      - /dockers/raneto/config:/opt/raneto/example
    ports:
      - 3030:3000

  node-red:
    image: nodered/node-red-docker:rpi
    container_name: "node-red"
    network_mode: "bridge"
    restart: "unless-stopped"
    volumes:
      - "/dockers/node-red/data:/data"
    ports:
      - 1880:1880

#  localtunnel:
#    build:
#      context: ./localtunnel
#    image: schmic/rpi-localtunnel
#    container_name: "localtunnel"
#    network_mode: "bridge"
#    restart: "no"
#    command:
#      --local-host raspi.home --port 80 --subdomain schmic
