alias: Check Prime and Notify
initial_state: True
trigger:
  platform: state
  entity_id:
    - sensor.prime_cpu_load
    - sensor.prime_disk_use
    - sensor.prime_ram_use
condition:
  - condition: or
    conditions:
      - condition: numeric_state
        entity_id: sensor.prime_cpu_load
        above: 79.9
      - condition: numeric_state
        entity_id: sensor.prime_disk_use
        above: 79.9
      - condition: numeric_state
        entity_id: sensor.prime_ram_use
        above: 79.9
action:
- service: notify.prime_slack
  data_template:
    message: "{{ trigger.to_state.attributes.friendly_name }} is now {{ trigger.to_state.state }}%"
